.wrap-canvas {
    position: relative;
    height: 600px
}

#canvas {
    border: 2px solid red;
    margin-left: 100px;
}

.menu-fucitional {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}