.wrap-canvas {
    position: relative;
    height: 600px;
    text-align: center;
}

#canvas {
    border: 2px solid red;
    margin: auto;
}

.menu-fucitional {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}
.wrap-canvas span{
    position: absolute;
    font-weight: bold;
    color: black !important;
}
